body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main{
  padding-top: 40px;
  width: 60%;
  margin: auto;
}

h1,.subtitle{
  text-align: center;
}

.subtitle{
  font-size: 20px;
}

nav{
  border-bottom: solid .5px grey;
}


.testimonial{
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: solid grey 0.5px;
}

.home-image{
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 20px;
}

