body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

.main{
  padding-top: 40px;
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .main{
    width: 95%;
  }
  .main>h1{
    font-size: 26px;
  }
  .main>h2{
    font-size: 22px;
  }
}


h1,.subtitle{
  text-align: center;
}

.subtitle{
  font-size: 20px;
}

h2{
  padding-top: 15px;
  padding-bottom: 15px;
}

nav{
  border-bottom: solid 0.5px grey;
}


.testimonial{
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: solid grey 0.5px;
}

.home-image{
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 20px;
}

iframe{
  padding-bottom: 40px;
}

.caption{
  color: #2FAA9F;
}

.timeline-image{
  margin-top: 30px;
}

button.navbar-toggler{
  border: none;
}

p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}



