//colours
$orange: #e35925;
$lightorange: rgba(227, 89, 37, 0.2);
$green: #2FAA9F;
$lightgreen: rgba(47, 170, 159, 0.6);
$lightergreen: rgba(47, 170, 159, 0.25);
$darkgreen: #2d616e;
$yellow: #F2C200;
$lightyellow: rgba(244, 195, 0, 0.1);
$lightergrey: #e3e3e3;
$timeline-line: #5b5555;
$font-grey: #414042;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $font-grey;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  a{
    color: $green;
  }
  a:hover{
    color: $lightgreen;
  }
  h1{
    font-size: 42px;
    padding-bottom: 15px;
    padding-top: 30px;
    }
  h2{
    font-size: 34px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  h3{
    font-size: 24px;
    color: $orange;
  }
  h4{
    font-size: 26px;
    text-align: center;
    padding: 10px;
  }
  ul>li{
    font-weight: 300;
  }
}

.page-divider{
  margin-top: 70px;
  height: 0.4px;
  background-color: $lightgreen;
}

@media only screen and (min-width: 768px){
  .navbar-nav,.navbar-brand{
    padding: 25px;
  }
}

.navbar .navbar-nav > li > a{
  font-size: 17px;
  padding: 10px;
}

.navbar .collapse .navbar-nav > li > a{
  transition: 0.6s;
}

.navbar .collapse .navbar-nav > li > a:hover{
  color: $orange;
}

//styles for J-PAL icons
.icon{
  width: 60%;
  display: inline-block;
  margin: auto;
  padding: 0px;
}

.main{
  padding-top: 40px;
  width: 60%;
  margin: auto;
}

.main-two{
  padding-top: 0px;
  width: 60%;
  margin: auto;
  margin-top: -50px;
}

@media only screen and (max-width: 768px) {
  .main{
    width: 95%;
  }
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 22px;
  }
  h3{
    font-size: 20px;
  }  
}


h1,.subtitle{
  text-align: center;
}

.subtitle{
  font-size: 18px;
}

@media only screen and (min-width: 768px){
  .subtitle{
    font-size: 20px;
    padding-top: 20px;
  }
}

h2{
  padding-top: 15px;
  padding-bottom: 15px;
}

nav{
  border-bottom: solid 0.5px grey;
}

.home-image{
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 20px;
}

iframe{
  padding-bottom: 40px;
}

.caption{
  color: #2FAA9F;
}

.timeline-image{
  margin-top: 30px;
}

button.navbar-toggler{
  border: none;
}

p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


footer{
  position: absolute;
  display: grid;
  grid-template-columns: 80% 10%;
  padding: 30px;
  bottom: 20px;
  width: 100%;
  height: 5rem;
  p{
    display: inline-grid;
    margin-right: 0px;
  }
  .float-right{
    float: right;
    margin-left: auto;
    padding-right: 15px;
  }
}

//coming soon
.coming-soon{
  h1{
    font-size: 70px;
  }
  img{
    width: 100%;
  }
}

//testimonial
.testimonial{
  border: solid lightgrey .5px;
  padding: 30px 45px;
  margin-bottom: 50px;
  .testimonial-name{
    font-weight: 600;
  }
  p{
    line-height: 1.8em;
    font-size: 16px;
  }
}

.main>.extra-heading-padding{
  padding-top: 40px;
}

.testimonial-image{
  width: 100px;
  margin-right: 10px;
}

//map design

.map-section-container{
  width: 100%;
  margin-top: 30px;
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: $green;
  color: $lightergrey;
  a{
    color: $yellow;
  }
  a:hover{
    color: $yellow;
  }
}

.map-heading{
  padding: 20px; 
  text-align: center;
  padding-bottom: 10px;
}

svg{
  width: 80%;
 }

	g{
		position: relative;
	}
	.st0{
		fill:$lightergrey;
		stroke-width: 1px;
		stroke: $green;
		z-index: 0;
	}
	.st0:hover {
		stroke-width: 1px;
		transition: 1s ease-out all;
		z-index: 2;
		left: 0;
		top: 0;
}

.our-work{
  fill: $yellow;
  cursor: pointer;
}

.our-work:hover{
  fill: rgba(0,0,0,0.6);
}

.container,.detail,.map{
  box-sizing: border-box;
  position: relative;
}
.container{
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 90%;
  overflow: hidden;
  padding-bottom: 40px;
}

.map{
  width: 100%;
  border-right: solid $lightergrey .5px;
}

.detail{
  //flex: 1 1 auto;
  height: 100%;
  display: table;
  float: right;
  margin-left: 20px;
  text-align: center;
  .detail-vertical{
    display: table-cell;
    vertical-align: middle;
  }
  p{
    position: relative;
  }
}

.content{
  z-index: 1;
  width: 80%;
  display: none;
  margin: auto;
}

.map-image{
  width: 100%;
}

.country-click{
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
.container{
  margin: auto;
  display: block;
  width: 95%;
  img{
    width: 50%;
  }
  h2{
    font-size: 20px;
  }
  .map{
    display: block;
    position: relative;
    width: auto;
    height: 60vh;
    margin: auto;
    z-index: 1;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  svg{
    width: auto;
    height: 58vh;
    margin: auto;
    padding-right: 40px;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .detail{
    display: block;
    position: relative;
    margin: auto;
    padding: 0px;
    z-index: 0;
    text-align: center;
  }
  p{
    width: 100%;
    padding-top: 0px;
    margin-top: 10px;
  }
  .content{
    border-top: solid $lightergrey 1px;
    width: 100%;
    margin-top: 20px;
  }
}
}

@media only screen and (max-width: 360px) {
  .map-section-container{
    text-align: center;
    margin-top: 20px;
    margin-bottom: -60px;
    .container{
      margin: auto;
    display: block;
    width: 95%;
    img{
      width: 50%;
    }
    .map-heading>h2{
      font-size: 18px;
    }
    h2{
      font-size: 18px;
    }
    .map{
      display: block;
      position: relative;
      width: 100%;
      margin: auto;
      z-index: 1;
      border: none;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .map:before{
      content: "Tap a country to learn more";
      position: relative;
      text-align: center;
      font-size: 20px;
      width: 100%;
    }
    svg{
      width: 100%;
      margin: auto;
      padding-right: 40px;
      position: relative;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .detail{
      display: block;
      position: relative;
      margin: auto;
      padding: 0px;
      z-index: 0;
      text-align: center;
    }
    p{
      display: none;
    }
    .content{
      border-top: solid $lightergrey 1px;
      width: 100%;
      padding-top: 0px;
    }
  }
  }
  }

//Communications -- gallery w. lightbox -- 
.gallery-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-bottom: 60px;
  a{
    display: inline-grid;
  }
}

@media only screen and (max-width: 500px) {
  .gallery-container{
  padding-bottom: 10px;
  padding-top: 0px;
  margin-top: 0px;
  h2{
    margin-top: 0px;
    padding-top: 0px;
  }
  }
}



//Homepage

.full-screen-header{
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), 
  rgba(0, 0, 0, 0.4)), url("static/team.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  h1{
    padding-top: 80px;
    font-size: 48px;
    letter-spacing: 2px;
  }
  .subtitle{
    padding-top: 0px;
    font-size: 30px;
  }

  .header-arrow{
    text-align: center;
    margin-left: auto;
    font-size: 30px;
    position: relative;
    top: 38vh;
  }
  .header-arrow:hover{
    cursor: pointer;
    color: $orange;
    transition: 1s;
  }
}

.full-header{
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  background: $lightorange;
  background-size: cover;
  color: black;
  text-align: center;
  overflow: hidden;
    h1{
      font-size: 46px;
      letter-spacing: 1.5px;
      padding-top: 10vh;
      text-align: left;
      padding-left: 40px;
    }
    .subtitle{
      padding-left: 40px;
      font-size: 30px;
      text-align: left;
    }
    .header-arrow{
      text-align: center;
      font-size: 30px;
      position: absolute;
      top: 85vh;
      padding: 10px;
    }
    .header-arrow:hover{
      cursor: pointer;
      color: $orange;
      transition: 1s;
    }
    .boxes{
      height: 75vh;
      padding-top: 70px;
      padding-bottom: 40px;
      width: 80%;
      margin: auto;
    }

    .box-image{
      background: url(static/team2.gif);
      background-position: center bottom;
      background-size: cover;
      position: relative;
      height: 55vh;
    }


    .box-image-2{
      background: url(static/tarl_civ.jpg);
      background-position: left bottom;
      background-size: cover;
      position: relative;
      height: 55vh;
    }

    .box-text{
      margin-left: 0px;
    }

    .box-text>p>button{
      @extend .cta;
      color: white;
      border-radius: 10px;
      font-size: 18px;
      text-align: left;
      margin-top: 25px;
      position: relative;
    }

}

.vertical-align>a>button{
  @extend .cta;
  color: white; 
  font-size: 22px;
  letter-spacing: 2px;
}

.subscribe{
  text-align: center;
  padding: 10px;
  width: 100%;
  background-size: cover;
  color: black;
}

.our-work-subscribe{
  text-align: center;
  padding: 10px;
  width: 100%;
}

.news-subscribe{
  background-position: right center;
  text-align: center;
  padding: 10px;
  width: 100%;
  background-size: cover;
}

.main-landing{
  width: 70%;
  margin: auto;
}


.vertical-align{
  display: table-cell;
  vertical-align: middle;
}

.boxes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr) );
  grid-gap: 40px;
  padding-top: 80px;
  padding-bottom: 50px;

  .box-text{
    display: table;
    padding: 5px;
    height: 100%;
  }
    .box-video{
      display: table;
      padding-top: 18px;
    }
    .box-image{
      padding: 0px;
      position: relative;
      margin: 0px;
      img{
        width: 100%;
        margin: 0px;
        left: 0px;
        position: relative;
      }
      display: inline-grid;
  }
}

.cta-banner{
  .boxes{
    padding: 0px;
    width: 75%;
    margin: auto;

    h2{
      text-align: left;
    }
    .highlight{
      text-align: left;
    }
    .box-text{
      margin-right: 40px;
      text-align: left;
      button{
        margin-left: 0px;
      }
      }
  }
}

.highlight{
  font-size: 22px;
  text-align: center;
}

.centred-heading{
  text-align: center;
}

.cta-bottom{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr) );
  grid-column-gap: 16px;
  margin-bottom: 50px;
  margin-top: 80px;
}

.cta-text{
  height: 100%;
  display: table;
  width: 90%;
  margin: auto;
}

.twitter-widget{
  display: inline-grid;
  position: relative;
  right: -12px;
  text-align: center;
}

//responsive homepage
@media only screen and (max-width: 500px) {

  .full-screen-header{
    overflow: hidden;
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.4)), url("static/mobile/team.jpg");
    background-size: cover;
    background-position: right-bottom;
    color: white;
    text-align: center;
    h1{
      padding-top: 50px;
      font-size: 34px;
      letter-spacing: 1.5px;
    }
    .subtitle{
      padding-top: 0px;
      font-size: 24px;
    }
  
    .header-arrow{
      display: none;
    }
    
  }

  .main-landing{
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding-top: 0px;
    margin-top: 0px;
   // .boxes>.box-text{
      //display: none;
   // }
    .boxes>.box-video{
      img{
        padding-top: 30px;
        padding-bottom: 0px;
        margin-bottom: -20px;
      }
    }
  }

  .cta-banner{
    .boxes{
      margin: auto;
      width: 100%;
      .box-text{
        width: 100%;
      }
    }
  }

  .boxes{
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    width: 100%;
    position: relative;
    margin: auto;
  
    .box-text{
      font-size: 20px;
      padding: 0px;
      margin: auto;
      .vertical-align{
        width: 100%;
        display: block;
        position: relative;
        margin: auto;
        padding: 0px;
        h2{
          text-align: center;
          width: 100%;
        }
        p{
          text-align: center;
          width: 100%;
        }
        button{
          text-align: center;
          margin: auto;
        }
      }
    }
      .box-video{
        display: table;
        padding-top: 20px;
        padding-bottom: 30px;
      }
     // .box-video::before{
       // content: "Watch Tavneet Suri, MIT Associate Professor of Applied Economics and J-PAL Africa's Scientific Director share her reflections on ten years of working with J-PAL Africa.";
       // font-size: 18px;
       // font-family: 'Open Sans', sans-serif;
       // font-weight: 300;
       // padding: 5px;
       // margin-left: 10px;
       // margin-bottom: 10px;
       // position: relative;
       // display: inline-block;
       // width: 90%;
     // }
      .box-image{
        img{
          display: none;
        }
        display: none;
    }

    .highlight{
      font-size: 18px;
      text-align: center;
    }
  }

  .cta-bottom{
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
      .cta-text{
        margin-top: -20px;
        padding-top: 0px;
        .vertical-align{
          padding-top: 0px;
          margin-top: 0px;
          margin-left: auto;
          display: block;
        }  
        .highlight{
          font-size: 18px;
          padding-top: 0px;
          margin-top: 0px;
          margin-left: auto;
        }
    }
    .cta-text.subscribe,.cta-text.our-work-subscribe,.cta-text.news-subscribe{
      padding: 30px 50px;
      position: relative;
      margin: auto;
      .vertical-align{
        text-align: center;
        position: relative;
        margin: auto;
        p{
        text-align: center;
        }
      }
    }
    .twitter-widget{
      display: none;
    }
  }

  .main-landing>h4{
    font-size: 20px;
  }
  
  .follow-buttons{
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 30px;
    img{
      margin: auto;
      width: 30px;
    }
  }
  
  .follow-image{
    margin: auto;
    width: 140px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
}

@media only screen and (max-width: 1300px){
  .highlight{
    margin: auto;
  }
  .vertical-align{
    text-align: center;
    margin: auto;
    width: 100%;
    padding-top: 20px;
    position: relative;
    p{
    font-size: 20px;
    }
  }
}


@media only screen and (max-width: 1024px){
  .boxes{
    width: 90%;
    margin: auto;
    .box-image{
      width: 75%;
      height: auto;
      margin: auto;
      position: relative;
      padding: 0px;
      img{
        margin: auto;
      }
    }
  }

  .cta-bottom{
    display: block;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 80px;
    .cta-text{
      height: auto;
      width: 100%;
      display: block;
      position: relative;
      margin: auto;
      padding-bottom: 30px;
    }
  }

  .cta-bottom{
    text-align: center;
    .cta-text.subscribe,.cta-text.our-work-subscribe,.cta-text.news-subscribe{
      display: block;
      position: relative;
      width: 100%;
      padding-top: 60px;
      padding-bottom: 60px;
      .vertical-align{
        display: block;
        width: 100%;
        position: relative;
        margin: auto;
        p{
        text-align: center;
        }
      }
    }
    .cta-text{
      display: block;
      position: relative;
    }
    .highlight{
      display: block;
      position: relative;
      margin: auto;
      }
    .twitter-widget{
      position: relative;
      margin: auto;
      padding-top: 40px;
        }
  }

  .main-landing>h4{
    font-size: 20px;
  }
  
  .follow-buttons{
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 30px;
    img{
      margin: auto;
      width: 30px;
    }
  }
  .vertical-align{
    margin: auto;
    padding: 0px;
    position: relative;
    display: block;
  }
  .cta-bottom>.cta-text>.vertical-align>.highlight{
    font-size: 22px;
    text-align: center;
  }
  
  .follow-image{
    margin: auto;
    width: 140px;
    display: grid;
    grid-template-columns: auto auto auto;
  }

}
//end responsive homepage

.follow-buttons{
  width: 100%;
  margin: auto;
  position: relative;
  img{
    margin: auto;
    width: 30px;
  }
}

.follow-image{
  margin: auto;
  width: 140px;
  display: grid;
  grid-template-columns: auto auto auto;
}

//research page
.research-image{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;
}

.work-section{
  padding-bottom: 50px;
}

.blog-section{
  padding-bottom: 20px;
}

.cta-banner{
  width: 100%;
  background-color: $green;
  color: white;
  text-align: center;
  padding: 50px;
  button{
    background-color: $lightergrey;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    margin: 20px;
    color: $green;
    letter-spacing: 1.5px;
    font-size: 18px;
  }
  button:hover{
    background-color: darken($lightergrey, 10%);
    color: darken($green, 10%);
  }
  .cta-text{
    font-size: 32px;
  }
}

@media only screen and (max-width: 500px) {
  .blog-section{
    padding-bottom: 0px;
  }

  .cta-news{
    margin-top: 0px;
  }

  .cta-bottom{
    padding-top: 0px;
    }
}


//our-work page
.tab-link{
  border-radius: 15px;
  margin: 20px 30px 20px;
  box-shadow: 0 0 2px $orange;
}

.tabs{
  text-align: center;
  li.tab-link{
    background-color: $orange;
    color: white;
    font-size: 24px;
    font-weight: 300;
    padding: 13px 24px;
    letter-spacing: 2px;
  }
  li.tab-link:hover{
    background-color: darken($orange, 10%);
  }
}

		ul.tabs{
			margin: 0px;
			padding: 0px;
      list-style: none;
    }
    
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
      background: #ededed;
      box-shadow: 0 0 2px inset $orange;
      color: $orange;
		}

		.tab-content{
			display: none;
			padding: 15px;
      border: solid #ededed 1px;
      border-radius: 20px;
		}

		.tab-content.current{
      display: inherit;
		}
    
//accordion styles

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordions {
  border-radius: 8px;
  overflow: hidden;
}
.tab {
  width: 100%;
  color: $orange;
  overflow: hidden;
  &-label {
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      color: darken($orange, 10%);
    }
    &::before {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content-a {
    max-height: 0;
    padding: 0 1em;
    color: black;
    background: white;
    transition: all .35s;
  }
}

input:checked {
  + .tab-label {
    color: $orange;
    &::before {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content-a {
    max-height: 100vh;
    padding: 1em;
    font-size: 14px;
    font-weight: 300;
    color: $font-grey;
    p{
      font-size: 14px;
    }
  }
}

#finance, #admindata, #electricity, #labour-policy, #tarl{
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

#labour{
  padding-bottom: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

@media only screen and (max-width: 768px){
.tab-link{
  border-radius: 15px;
  margin: 8px 4px 8px;
  box-shadow: 0 0 2px $orange;
}

.tabs{
  text-align: center;
  li.tab-link{
    background-color: $orange;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 20px;
    letter-spacing: 2px;
  }
  .tab-content{
    .subtitle{
      font-size: 13px;
    }
  }
}
}


//timeline page
.timeline-cta{
  margin: auto;
  background-color: $timeline-line;
  color: white;
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
  letter-spacing: 1.5px;
}

.cta{
  background: $green;
  border: solid $green 1px;
  margin: auto;
  border-radius: 12px;
  padding: 8px 16px;
  a{
  color: white;
  letter-spacing: 1.5px;
  font-size: 24px;
  font-weight: 400;
  }
}
.cta:hover{
  border: solid darken($green, 20%) 1px;
  background: darken($green, 10%);
  a{
  color: lightgrey;
  text-decoration: none;
  }
}


/* -------------------------------------
 * * timeline
 * * ------------------------------------- */
//timeline - interactive

//colours
$light-orange: rgba(227,89,37,.25);
$green: rgb(97,183,127);
$teal:rgb(47, 170, 159);
$light-teal:rgba(47, 170, 159,.25);


.timeline-text-top{
  text-align: center;
  margin-bottom: 20px;
}

.date {
  height: 60px;
  top: 10px;
  left: -10px;
  margin-bottom: 0;
  position: relative;
  color: $darkgreen;
  p{
    font-size: 2em;
    font-weight: 600;
  }
}

#timeline {
  list-style: none;
  margin: 0 0 30px 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-left: 8px solid $timeline-line;
  color: white;
}
#timeline li {
  margin: 30px 0;
  position: relative;
  top: 20px;
}
#timeline p {
  margin: 0 0 15px;
}

.right-align{
  padding-top: 5px;
  float: right;
  margin-top: 10px;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -45px;
  width: 22px;
  height: 22px;
  background: white;
  border: 5px solid $teal;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.circle.neutral{
  border: 5px solid $darkgreen;
}

.circle.policy{
  border: 5px solid $orange;
}

.content-tl {
  max-height: 250px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
  background-color: $teal;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  a{
    color: transparent;
  }
     .image{
       height: 0;
       opacity: 0;
       img{
         height: 0;
       }
    }
  }

.content-tl.neutral{
  background: $darkgreen;
}
.content-tl.policy{
  background: $orange;
}

.content-tl.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  column-gap: 10px;
}
.content-tl:before, .content-tl:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content-tl:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content-tl:after {
  border-right-color: $teal;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content-tl.neutral:after{
  border-right-color: $darkgreen;
}
.content-tl.policy:after{
  border-right-color: $orange;
}
.content-tl p{
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

label {
  font-size: 1.12em;
  font-weight: 400;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  padding-top: 20px;
  transition: transform 0.3s linear;
  margin-left: 10px;
  width: 99%;
  height: 100%;
  max-height: 350px;
  letter-spacing: 1.1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: default;
  transform: translateX(42px);
  margin-left: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 92%;
  height: auto;
  white-space: normal;
}
.radio:checked + .relative .circle {
  background: $teal;
}
.radio:checked + .relative .neutral {
  background: $darkgreen;
}
.radio:checked + .relative .policy {
  background: $orange;
}
.radio:checked ~ .content-tl {
  max-height: 600px;
  min-height: 150px;
  border-color: $teal;
  margin-right: 20px;
  transform: translateX(20px);
  cursor: default;
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;

  a{
    color: white;
    text-decoration: underline;
  }
  a:hover{
    color: $lightergrey;
  }
  .image{
    position: relative;
      opacity: 1;
      transition: opacity 1.8s linear;
      height: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        max-width: 95%;
        max-height: 95%;
        height: auto;
        display: block;
      }
    figure{
      max-height: 95%;
      max-width: 90%;
    }
  }
}

figcaption{
  font-size: .8em;
  padding-top: 2px;
}

.radio:checked ~ .content-tl:after{
  left: -20px;
}

 .radio:checked ~ .neutral{
    border-color: $darkgreen;
 }
 .radio:checked ~ .policy{
    border-color: $orange;
 }

.radio:checked ~ .content-tl p {
  max-height: 600px;
  width: 95%;
  color: white;
  transition: color 0.3s linear 0.3s;
  z-index: 100;
  a{
    color: white;
    transition: color .3s linear .3s;
  }
}

/* -------------------------------------
 * * large screens
 * * ------------------------------------- */
 @media screen and (min-width: 1440px){
  .content-tl.grid{
    grid-template-columns: 1fr 1fr;
  }
}

/* -------------------------------------
 * * weird middle size screen
 * * ------------------------------------- */
 @media screen and (max-width: 1280px){
  .radio:checked ~ .content-tl{
    max-height: 800px;
    padding-top: 40px;
    p{
      text-align: left;
      padding-top: 20px;
    }
  }
  .radio:checked ~ .content-tl.large-responsive{
    .image{
      padding-top: 20px;
      padding-left: 0;
      margin-top: 15px;
      margin-left: -10px;
      img{
        padding-left: 0;
        margin-left: 0;
      }
    }
    a>img{
      padding-top: 0;
      margin-top: -10px;
    }
    p{
      padding-top: 28px;
      margin-top: 10px;
    }
  }
}

.radio:checked ~ .content-tl.large-responsive.medium-responsive{
  .image{
    padding-top: 10px;
    margin-top: 0;
  }
}

/* -------------------------------------
 * * small laptop / tablet
 * * ------------------------------------- */
@media screen and (max-width: 1024px){
  .radio:checked ~ .content-tl{
    max-height: 800px;
    padding-top: 40px;
    .image{
        padding-left: 0;
        margin-left: 0;
    }
    p{
      text-align: left;
      padding-top: 20px;
    }
  }
  .radio:checked ~ .content-tl.large-responsive{
    .image{
      padding-top: 25px;
      padding-left: 0;
      margin-top: 15px;
      margin-left: -10px;
      img{
        padding-left: 0;
        margin-left: 0;
      }
    }
    a>img{
      padding-top: 0;
      margin-top: -10px;
    }
    p{
      padding-top: 28px;
      margin-top: 10px;
    }
  }
}

/* -------------------------------------
 * * mobile
 * * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    padding-right: 18px;
    margin-bottom: 0;
    border-left: none;
  }
  #timeline li {
    margin: 50px 0;
  }

  label {
    width: 90%;
    font-size: .8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
    max-height: 100px;
  }

  .content-tl {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: .9em;
    border-color: $teal;
  }
  .content-tl.policy{
    border-color: $orange;
  }
  .content-tl.neutral{
    border-color: $darkgreen;
  }
  
  .content-tl:before, .content-tl:after, .content-tl.neutral:after, .content-tl.policy:after{
    border: solid transparent;
    bottom: 100%;
  }
  .content-tl:before, .content-tl.neutral:before, .content-tl.policy:before{
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }
  
  .content-tl.neutral:before {
    border-bottom-color:$darkgreen;
  }
  
  .content-tl.policy:before{
    border-bottom-color: $orange;
  }
  
  .content-tl:after {
    border-width: 20px;
    top: -20px;
    left: 50px;
    margin-left: -20px;
  }
  .content-tl p {
    font-size: 0.9em;
    line-height: 1.4;
    padding-top: 8px;
    text-align: left;
  }

  .circle{
    display: none;
  }
  .date {
    height: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    font-size: 1em;
    position: relative;
    background-color: white;
    padding-bottom: -10px;
    margin: 0;
  }

  .radio:checked + .relative label {
    white-space: normal;
  }
  .radio:checked ~ .content-tl{
    max-height: 900px;
    .image{
      margin-top: 26px;
      margin-bottom: -10px;
      max-height: 400px;
    }
    a.image{
      margin-top: 0;
      margin-bottom: 5px;
    }
    figure{
      margin-bottom: -8px;
    }
  }
  .radio:checked ~ .content-tl p {
    max-height: 900px;
    position: relative;
    top: 10px;
    padding-bottom: 10px;
  } 
}
